/* General Website Style rules */
body {
  font-family: "Courier New";
}

p {
    width: 100%;
    max-width: 600px; 
    text-align: justify; 
}

ul
{
    width:100%;
    max-width:500px; 
    word-wrap:break-word;
    text-align:left;
}

ol
{
    width:100%;
    max-width:500px; 
    word-wrap:break-word;
    text-align:left;
}

img, cap {
    width: 100%;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    border: 4px solid black;
}
